{% extends "admin/base_site.html" %}

{% load analytics_tags static %}

{% block extrahead %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>
	if (!window.jQuery) {
		document.write('<script src="{% static 'js/libs/jquery.min.js' %}"><\/script>');
	}
	</script>
    <script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="content-main">
        <h1>Analytics</h1>
        {% analytics_as_table 'visits_over_period' '2014-01-01' '2014-07-30' %}
        <br/>
        {% analytics_as_table 'top_countries' '2014-01-01' '2014-07-30' %}
        <br/>
        {% analytics_as_chart %}
    </div>
{% endblock content %}


