{% load static %}
<script type="text/javascript">
$(function () {
    $.getJSON("{% url 'column' %}", function(data) {
        $('#chart_container').highcharts(data);
    });
});
</script>
<div id="chart_container" style="height: 300px"></div>
