{% if results.rows %}
    <table>
        <tr>
        {% for header in results.columnHeaders %}
            <th>{{ header.name }}</th>
        {% endfor %}
        </tr>
        {% for row in results.rows %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No Data</p>
{% endif %}